<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=comment" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_outward" />
        <title>RapeReportDB | About</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./index.css"> 
        <link rel="stylesheet" href="./about.css"> 

    </head>

    <body>
        <div class="about-container">
            <!--navbar container-->
            <div class="navbar-container">
                <div class="nav-logo"><a href="/" style="text-decoration: none;">Rape Report DB</a></div>
                <div class="search-container"  id="search-container">
                    <input type="text" id="searchInput" class="search-input" placeholder="Search...">
                </div>
                <!--
                <div class="nav-links">
                    <button class="scan" id="scan">Search</button>
                    <button class="post" id="post-report">Post</button>
                </div>
                -->
                
            </div>
            <!--purpose container start-->

            <div class="purpose-container">
                <div class="purpose-image">
                    <img src="https://placehold.co/690x700" alt="">
                </div>
                <div class="purpose-text">
                    <div class="purpose-title">What's the purpose of this website?</div>
                    <div class="purpose-desc">The Purposes and Objectives of RapeReportDB.com number at least five (5):</div>
                    <div class="purpose-body">
                        <div class="purpose-1">
                            <strong>(a)</strong>	To provide a means for persons to Report any and all experiences that they have experienced involving Sexual Misconduct (e.g.- Rape, Sexual Assault, Sexual Abuse and//or Sexual Harassment) committed against them by another person;
                        </div>
                        <div class="purpose-2">
                            <strong>(b)</strong>	To Provide a means of Private, Limited, Quasi-Judicial Redress for Grievances arising from occurrences of Sexual Violence and//or All Levels and Forms of lesser Sexual Misconduct;
                        </div>
                        <div class="purpose-3">	<strong>(c)</strong>	To Lessen and Ultimately Eliminate the Stigma that Now Attaches to Persons Subject to Acts of Sexual Violence and/or Sexual Misconduct;</div>
                        <div class="purpose-4">
                            <strong>(d)</strong>	To Create and Maintain the RapeReportDB.com Database as a permanent Data Base, for the Express Purpose of Publicizing, Shunning and Ostracizing All Sexual Predators who Populate our American and Planet Earth Communities;  and 
                        </div>
                        <div class="purpose-5">
                            <strong>(e)</strong>	To Create, and Continually Enhance, the Social Utility of the RapeReportDB.com Database as a means for the Discernment, Discovery and Identification of Serial, Repeat or other Patterns of Sexual Violence and//or Misconduct, or the Perpetrators thereof.
                        </div>
                    </div>
                </div>
            </div>
            <!--purpose container end-->

            <!--owner container start-->
            <div class="owner-container">
                <div class="owner-text">
                    <div class="owner-name">John Sovak</div>
                    <div class="owner-desc">
                        I am the owner and operator of RapeReportDB.com.
                    </div>
                </div>
                <div class="owner-image">
                    <img src="https://placehold.co/690x700" alt="">
                </div>
            </div>

            

        </div>
        
            <!--footer-->
            <footer>
                <div class="about-site">
                    <div class="website-name">Rape Report DB</div>
                    <div class="website-desc">
                        The World's <strong>#1</strong> Searchable and Scrapeable Database for Persons who have been Raped, or experienced any other form of Sexual Misconduct (Sexual Assault, Sexual Abuse or Sexual Harassment).
                    </div>
                </div>
                <div class="contact">
                    <div class="contact-title">
                        Contact US
                    </div>
                    <div class="contact-info">
                        <strong>Email: </strong>rapereportdb@gmail.com <br>
                        <strong>Phone: </strong>(201) 934-3306
                    </div>
                    <p class="contact-note">Responsive via Email</p>
                </div>
                <div class="relevant-links">
                    <div class="relevant-title">Support links</div>
                    <div class="all-links">
                        <span><a href="/about" style="text-decoration: none;color: white;">About Rape Report DB</a></span><br>
                        <span><a href="/FAQS" style="text-decoration: none;color: white;">Frequently Asked Questions</a></span>
                    </div>
                </div>
            </footer>
    </body>
</html